@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "popins",sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #C8ACD6;
}
.calculator{
  position: relative;
  display: grid;
}
.calculator .value{
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;

}
.calculator button{
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #433D8B	;
  place-items:center;
  border: 1px solid #C8ACD6	 ;
}
.calculator button:active{
  background: #7C93C3	;
  color: #E1D7B7;
}
.calculator .numclear{
  background: #3795BD;
}
.calculator button.plus{
  grid-row: span 2;
  height: 120px;
}
.calculator button.equal{
  background: #3795BD;
  grid-column: span 2;
  width: 120px;
  
}